<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <meta
      name="description"
      content="Ronalds BOK - Dante Piekart, Vivanne Hoogendam, Lorenzo Horde, Annika Mekkelhold"
    />
    <link rel="preload" href="/css/style.css" as="style" />
    <link rel="preload" href="/js/script.js" as="script" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <form class="theme">
        <label>
          <input type="checkbox" value="theme">
        </label>
      </form>
      <svg width="1183" height="345" viewBox="0 0 1183 345" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M432.008 263V77.5H467.783V150.375L535.093 77.5H579.083L502.498 159.385L581.203 263H536.948L472.288 178.73L467.783 183.235V263H432.008ZM585.992 263L647.207 77.5H701.267L761.952 263H724.057L674.502 103.47H673.707L623.357 263H585.992ZM615.937 212.65L625.477 184.56H719.817L729.092 212.65H615.937Z" fill="#353535"/>
        <path d="M796.614 45.3479C797.242 43.5682 799.758 43.5682 800.386 45.3479L806.432 62.4905C806.626 63.0406 807.051 63.4786 807.594 63.6897L824.198 70.1356C825.899 70.7962 825.899 73.2038 824.198 73.8644L807.594 80.3103C807.051 80.5214 806.626 80.9594 806.432 81.5095L800.386 98.6521C799.758 100.432 797.242 100.432 796.614 98.6521L790.568 81.5095C790.374 80.9594 789.949 80.5214 789.406 80.3103L772.802 73.8644C771.101 73.2038 771.101 70.7962 772.802 70.1356L789.406 63.6897C789.949 63.4786 790.374 63.0406 790.568 62.4905L796.614 45.3479Z" fill="#909090"/>
        <rect x="782" y="110" width="32" height="153" fill="#353535"/>
        </svg>
    </header>
    <main>
      <section class="<%- className %>">
        <%- body %>
      </section>
    </main>
    <footer>
      <p>Copyright &copy; 2025 CMData. Alle rechten voorbehouden</p>
    </footer>
  </body>
  <script src="/js/script.js"></script>
</html>
