<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <meta
      name="description"
      content="Ronalds BOK - Dante Piekart, Vivanne Hoogendam, Lorenzo Horde, Annika Mekkelhold"
    />
    <link rel="preload" href="/css/style.css" as="style" />
    <link rel="preload" href="/js/script.js" as="script" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
  </head>
  <body>
    <header></header>
    <main>
      <section class="<%- className %>">
        <%- body %>
      </section>
    </main>
    <footer>
      <p>Copyright &copy; 2025 Ronalds BOK. Alle rechten voorbehouden</p>
    </footer>
  </body>
  <script src="/js/script.js"></script>
</html>
