.details {
  width: 100vw;
  padding: 50px 15vw;

  /* ^ annika: achtergrond kleur is al op body, verwijder deze tekst als je het hebt gelezen thanks ahahaah.  ook padding top minde gemaakt en de button diplay block gegeven zodat hij goed in de section zit  */
  min-height: 100vh;

  & .back-button {
    display: block;
    width: fit-content;
    text-align: center;
    color: var(--color-main);
    text-decoration: none;
    background-color: var(--color-darker);
    border: 2px solid transparent;
    border-radius: 30px;
    transition: background-color 0.2s ease-in-out;
    padding: 10px 20px;
  }

  & .back-button:hover {
    background-color: var(--color-dark);
  }
}

#detail-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  background: none;
  margin-bottom: 5em;
  margin-top: 5em;
  flex-wrap: wrap;
  gap: 1em;
}

#detail-wrapper.expertise-visual-design .section-partial-right {
  border: 2px solid var(--color-pink-dark);
}

#detail-wrapper.expertise-interactieontwerp-visual-design
  .section-partial-right {
  border: 2px solid var(--color-pink-dark);
}

#detail-wrapper.expertise-onbekend .section-partial-right {
  border: 2px solid var(--color-green-dark);
}

#detail-wrapper.expertise-interactieontwerp .section-partial-right {
  border: 2px solid var(--color-blue-dark);
}

#detail-wrapper.expertise-interactieontwerp-visual-design:hover {
  animation: none;
}

#details-h1 {
  font-size: 3em;
  font-weight: 400;
}

.details-subtitle {
  font-size: 1.2em;
  font-weight: 200;
  padding-bottom: 2em;
}

#korte-beschrijving {
  padding: 20px 20px;
  border-radius: 10px;
  background-color: var(--color-main);
  width: fit-content;
  margin-bottom: 2em;
}

#detail-wrapper h2 {
  margin-bottom: 0.5em;
}

.gerelateerd-wrapper {
  margin-bottom: 5em;

  & h2 {
    margin-bottom: 0.5em;
  }
}

#detail-wrapper h3 {
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 0.5em;
}

#detail-wrapper h4 + p {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 1em;
}

.left {
  max-width: 40vw;
}

.right {
  min-width: 20vw;
  display: flex;
  flex-direction: column;

  .section-partial-right {
    padding: 20px 20px;

    margin-bottom: 1em;
    border-radius: 10px;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 774px) {
  .left {
    max-width: none;
  }

  .right {
    min-width: 100%;
  }
}
.web-button {
  text-align: center;
  color: var(--color-main);
  text-decoration: none;
  background-color: var(--color-darker);
  border: 2px solid transparent;
  border-radius: 30px;
  transition: background-color 0.2s ease-in-out;
  padding: 10px 20px;
}

#detail-wrapper.expertise-visual-design .web-button:hover {
  background-color: var(--color-pink-dark);
}

#detail-wrapper.expertise-interactieontwerp-visual-design .web-button:hover {
  background-color: var(--color-pink-dark);
}

#detail-wrapper.expertise-onbekend .web-button:hover {
  background-color: var(--color-green-dark);
  color: var(--color-darker);
}

#detail-wrapper.expertise-interactieontwerp .web-button:hover {
  background-color: var(--color-blue-dark);
  color: var(--color-darker);
}

/* terug naar overzicht knop */
