.details {
  width: 100vw;
  padding: 5vh 15vw;
  min-height: 100vh;

  & .back-button {
    display: block;
    width: fit-content;
    padding: 0.75em 1.25em;

    text-align: center;
    text-decoration: none;

    color: var(--color-main);
    background-color: var(--color-darker);

    outline: 0.15em solid var(--color-darker);
    border: 0.15em solid transparent;
    border-radius: 5em;

    transition: background-color 0.2s ease-in-out;
  }

  & .back-button:hover {
    background-color: var(--color-main);
    outline: 0.15em solid var(--color-darker);
    color: var(--color-darker);
  }
  & .back-button:focus-visible {
    background-color: var(--color-main);
    outline: 0.15em solid var(--color-darker);
    color: var(--color-darker);
  }
  
}

#detail-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  background: none;
  margin-bottom: 5em;
  margin-top: 5em;
  flex-wrap: wrap;
  gap: 1em;

  & h3 {
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 0.5em;
  }

  & h4 + p {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 1em;
  }

  & .left {
    max-width: 40vw;

    & #details-h1 {
      font-size: 3em;
      font-weight: 400;
    }

    & .details-subtitle {
      font-size: 1.2em;
      font-weight: 200;
      padding-bottom: 2em;
    }

    & #korte-beschrijving {
      padding: 1.25em;
      border-radius: 10px;
      background-color: var(--color-main);
      width: fit-content;
      margin-bottom: 2em;
    }
    a:focus-visible{
      outline: .1em solid var(--color-darker);
      border-radius:2em;
      color: var(--color-darker);
      background-color: var(--color-orange-light);
    }
  }

  & .right {
    min-width: 20vw;
    display: flex;
    flex-direction: column;

    & .section-partial-right {
      padding: 1.25em;

      margin-bottom: 1em;
      border-radius: 1em;
    }
    a:focus-visible{
      border-radius:2em;
      color: var(--color-darker);
      background-color: var(--color-main);
      outline: .2em solid var(--color-darker);
    }
  }
}

/* border colors based on expertise */

#detail-wrapper.expertise-visual-design .section-partial-right {
  border: 0.15em solid var(--color-pink-dark);
}

#detail-wrapper.expertise-interactieontwerp-visual-design
  .section-partial-right {
  border: 0.15em solid var(--color-pink-dark);
}

#detail-wrapper.expertise-onbekend .section-partial-right {
  border: 0.15em solid var(--color-green-dark);
}

#detail-wrapper.expertise-interactieontwerp .section-partial-right {
  border: 0.15em solid var(--color-blue-dark);
}

#detail-wrapper.expertise-interactieontwerp-visual-design:hover {
  animation: none;
}

#detail-wrapper h2 {
  margin-bottom: 0.5em;
}

.gerelateerd-wrapper {
  margin-bottom: 5em;

  & h2 {
    margin-bottom: 0.5em;
  }
}

/* web button based on expertise */

#detail-wrapper .web-button {
  text-align: center;
  color: var(--color-main);
  text-decoration: none;
  background-color: var(--color-darker);
  border: 0.15em solid transparent;
  border-radius: 5em;
  transition: background-color 0.2s ease-in-out;
  padding: 0.75em 1.25em;
}

#detail-wrapper.expertise-visual-design .web-button:hover {
  background-color: var(--color-pink-dark);
}

#detail-wrapper.expertise-interactieontwerp-visual-design .web-button:hover {
  background-color: var(--color-pink-dark);
}

#detail-wrapper.expertise-onbekend .web-button:hover {
  background-color: var(--color-green-dark);
  color: var(--color-darker);
}

#detail-wrapper.expertise-interactieontwerp .web-button:hover {
  background-color: var(--color-blue-dark);
  color: var(--color-darker);
}

/* responsiveness*/

@media screen and (max-width: 826px) {
  .left {
    max-width: 100vw !important;
  }

  .right {
    min-width: 100% !important;
  }
}
