header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: .5em;
    margin: 2em 4em;

    @media (max-width: 600px) {
        justify-content: center;
        margin: 2em;
    }
}

#home, h1 {
    display: block;
}

h1 svg {
    max-height: 110px;
    display: block;
    max-width: 100%;
    object-fit: contain;
}

.hide-text {
    display: none;
}

#go-to-saved {
    background-color: var(--color-grey);
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    padding: .5em;
    border-radius: 2em;

    svg {
        height: 2em;
        
        path {
            fill: none;
            stroke: black;
        }
    }
}