header {
    display: flex;
    align-items: center;
    margin: 4em 2em 2em 2em;
}

h1 svg {
    height: 110px;
}

.hide-text {
    display: none;
}

#go-to-saved {
    background-color: #E9E9E9;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;

    svg {
        height: 2em;
    }
}