/* ----------------------------------- */
/* ----------- NIEUWE CODE ----------- */
/* ----------------------------------- */
section.index {
    width: 100%;
    padding: .5em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: .5em;
    column-gap: 5em;

    #logo {
        justify-self: center;
    }

    .search {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 1em;
        height: 4em;
        overflow-y: visible;
        border-radius: 2em;
        transition: height 1s, width 1s,background-color 1s;
        padding: .5em;
        position: relative;
        
        &.open {
            height: 60vh;
            background-color: var(--color-light);
            
            div{
                border: .2em solid var(--background);
            }

            #clearChat {
                display: block !important;
            }
        }

        div {
            display: flex;
            background-color:var(--background);
            border-radius: 2em;
            border: .4em solid var(--color-main);
            align-items: center;

            #toggleChat {
                font-size: 1em;
                font-weight: 200;
                padding: 1em;
                border-radius: 2em;
                width: fit-content;
                background-color:var( --color-grey);
                border: none;
                position: relative;
                cursor: pointer;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 1.5em;
                    height: 1.5em;
                    background-image: url("/img/stars.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    top: -.5em;
                    left: -.5em;
                    overflow: visible;
                }
            }
            #toggleChat:focus-visible{
                outline: .2em solid var(--color-darker);
                background-color: var(--background);
                font-weight: 300;
            }
            #toggleChat:hover{
                outline: .15em solid var(--color-darker);
                background-color: var(--background);
                transition: background-color .3s ease, outline .3s ease;
            }

            form {
                flex: 1;
                height: fit-content;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                input {
                    width: 100%;
                    height: 3em;
                    font-size: 1em;
                    font-weight: 300;
                    padding: .5em;
                    padding-right: 3em;
                    padding-left: 1em;
                    border: none;
                    background-color: transparent;

                }
                input:focus-visible{
                    outline: .1em solid var(--color-darker);
                    border-radius:.5em 2em 2em .5em;
                }

                button {
                    position: absolute;
                    background-color: transparent;
                    border: none;
                    right: 1em;
                    display: flex; /* voeg dit toe */
                    align-items: center; /* centreert verticaal */
                    justify-content: center; /* centreert horizontaal */
                    height: 100%; /* zorg ervoor dat de button net zo hoog is als het inputveld */
                    cursor: pointer;
                
                    svg {
                        align-self: center;
                        height: 2.2em;
                        width: 2.2em;
                    }

                }
                button:focus-visible{
                outline: .2em solid var(--color-darker);
                border-radius: 2em;
                }
            }
        }

        .welcome h2{
            font-weight: 400;
            position: relative;

            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 1.3em;
                height: 1.3em;
                background-image: url("/img/stars.svg");
                background-size: contain;
                background-repeat: no-repeat;
                top: 0em;
                left: -2em;
                overflow: visible;
            }
        }
       
        

        #messages {
            display: flex;
            flex-direction: column;
            gap: 1em;
            list-style: none;
            overflow-y: scroll;
            margin: 1em;
            margin-top: 3em;
            margin-bottom: 0;
            padding:0 2.5em;

            #clearChat {
                opacity: .5;
                display: none;
                position: absolute;
                top: 1.75em;
                right: 50%;
                transform: translateX(50%);
                border: 1px solid var(--color-darker);
                padding: .5em 1em;
                background: none;
                transition: .2s;
                border-radius: 2em;

                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }
            }

            li {
                max-width: 80%;
                color: var(--color-darker);
                padding: .5em 1em;
                margin: .5em 0;
            }

            .assistant {
                align-self: flex-start;

            }

            .user {
                align-self: flex-end;
                background-color: var(--color-grey);
                font-weight: 300;
                border-radius: 1em 1em .3em 1em;
            }
            .loading{
                height: 1em;
                width: 1em;
                border-radius: 50%;
                animation: waiting 3s infinite;
                color: transparent;
                aspect-ratio: 1;
                padding: 0;
            }
        }
        #messages:focus-visible{
            outline: .15em solid var(--color-darker);
            border-radius: 1em;
        }
    }
    
   

    .filters {
        grid-column: 1/2;
        border: none;
        font-size: 1em;
        width: 100%;
        max-height: 2em;
        transition: .5s ease-in-out;
        overflow: hidden;

        input {
            display: none;
        }

        > label {
            color: var(--color-darker);
            padding-left: 0;
            text-align: center;
            font-size: 1em;
            height: 2em;
            display: flex;
            align-items: center;
            gap: .5em;
            position: relative;

            &::before {
                content: "";
                display: block;
                width: .25em;
                height: 100%;
                background-color: var(--color-darker);
            }

            &::after {
                content: "";
                display: block;
                width: 2em;
                height: 2em;
                background-image: url("/img/arrow.svg");
                transform: rotate(90deg);
                transition: .5s;
                position: absolute;
                right: 0;
            }
        }

        form {
            color: var(--color-secondary);
            margin: .5em;

            fieldset {
                border: none;
                display: flex;
                flex-wrap: wrap;
                gap: .5em;

                legend {
                    padding-bottom: .5em;
                }

                &:not(:nth-last-of-type(1)) {
                    margin-bottom: 1em;
                }

                label {
                    border: 1px solid var(--color-secondary);
                    display: inline-block;
                    padding: .25em .5em;
                    height: fit-content;
                    border-radius: 2em;
                    min-width: 2em;
                    opacity: .6;
                    text-align: center;

                    &:has(:checked) {
                        border: 1px solid var(--color-filter-blue);
                        background-color: var(--color-filter-lightblue);
                        color: var(--color-filter-blue);
                        opacity: 1;
            
                    }

                    &:hover {
                        opacity: 1;
                    }

                    &:has([name=rel_jaar]) {
                        text-align: center;
                    }
                }
            }
        }

        &:has(> label > :checked) {
            max-height: 100%;

            label::after {
                transform: rotate(-90deg);
            }
        }
    }

    > div {
        display: flex;
        flex-direction: column;
        gap: .5em;

        #activeFilters {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: .5em;
            margin: 2em 0 1.5em 0;

            .amount-of-results {
                display: flex;
                gap: .25em;
                font-weight: normal;
                align-items: center;

                &::before {
                    content: "";
                    display: block;
                    width: .125em;
                    height: 100%;
                    background-color:var(--color-darker);
                }
            }

            label:has(input[type=checkbox]:not(:checked)) {
                display: none;
            }
            label{
                margin: .2em 0 ;
            }

            label:has(:checked) {
                display: inline-flex;
                gap: .5em;
                border: 2px solid var(--color-secondary);
                padding: .25em .5em;
                border-radius: 1em;
                cursor: pointer;
        
                &::before {
                    content: "x";
                    display: inline;
        
                }

                input {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 600px) {
    section.index {
        grid-template-columns: 25% auto;
        padding: .5em 4em;
    }

    .search {
        align-self: center;
    }

    .filters {
        grid-row: 1/4;
    }

    #resultsAndFilters {
        grid-column: 2/3;
    }
}

@media (max-width: 600px) {
    .filters {
        grid-row: 2/3;
    }
}
 
@keyframes waiting {
    0% {
        background-color: var(--color-darker);
    }
    50% {
        background-color: var(--color-grey);
    }
    100% {
        background-color: var(--color-darker);
    }
}
  
  /* //////////////////////////// resultaten grid////////////////////////// */
  .results{
      grid-column: 1/3;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
      grid-auto-rows:auto;
      list-style: none;
      grid-gap: 1em;
      width: 100%;
      place-self: center;
  
    }
   
  .results li{
      display: grid;
      position: relative;
      grid-row: span 5;
      grid-template-columns: subgrid;
      grid-template-rows: subgrid;
      row-gap: 0;
      background-color:var(--color-main) ;
      box-shadow: var(--shadow) 0px 4px 12px;
      border-radius: 1em;
      font-size: .8em;
      padding: 2em;

      h2{
          grid-row: 3/4;
          font-weight: 400;
          font-size: 2em;
          hyphens: auto;
  }
      p:nth-of-type(2){
          grid-row: 4/5;
          font-size:1.1em;
          font-weight: 200;
          margin: 2em 0;
      }
      a{
          grid-row: 5;
          background: linear-gradient(
          to bottom left,
          var( --color-main) 50%,
          var(--color-darker) 50%
          );
          background-size: 200% 330%;
          background-position: bottom;
          color: var(--color-main);
          justify-self: end;
          align-self: flex-end;
          margin-top: auto;
          text-decoration: none;
          outline:.2em solid var(--color-darker);
          border-radius:2em ;
          padding: .5em 1em;
          transition: .3s ease-in-out;
          cursor: pointer;
      }
       a:hover{
          /* background-color: var(--color-dark); */
          background-position: top right;
          outline:.2em solid var(--color-darker) ;
          color:var(--color-darker) ;
        }
        a:active{
          transform: translateY(0.1em) scale(0.95);
          background-color: var(--color-dark);
        }
        a:focus-visible{
            outline:.2em solid var(--color-darker) ;
            background: var(--color-main);
            color:var(--color-darker);
        }
  
      button{
          position: absolute;
          top: -.6em; 
          right: 1em;
          background-color: transparent;
          overflow: hidden;
          border: none;
          z-index: 10;
          cursor:pointer;
      }
      button:focus-visible{
        outline: 0 solid ;
      }
      button:focus-visible svg {
        stroke:var(--color-darker);
        stroke-width: 1;
        fill: var(--color-main);
      }
    }


    .results li button svg {
      position: relative;
      width: 3em;
      height: 3em;
      animation: 2s ease-in forwards;
      z-index: 2;
      stroke:var(--color-darker);
      stroke-width: 0;
      fill: var(--color-grey);
      stroke-dasharray: 100;
      stroke-dashoffset: 0;
      transform-origin: center;
  
    }
  
    .results li button.filled svg{
      animation: 2s ease-out forwards saved;
  }
  
  @keyframes saved {
      0% {
          stroke-width: .5;
          stroke-dashoffset: 100;
          fill:transparent;
      }
  
      40% {
          stroke-dashoffset: 0;
          fill: var(--color-dark);
      }
  
      100% {
          stroke-width: .5;
          stroke-dashoffset: 0;
          fill: var(--color-darker);
         
      }
  }

  /* standaard styling van het balletje van de kleur categorie */
    #themaExpertise{
        grid-row: 1/2;
        grid-column: 1/3;
        height:3em;
        width:3em;
        border-radius: 50%;

        position: relative;
    }
    #themaExpertise::after{
        content: "";
        position: absolute;
        top: 8%;
        left:110%;
        padding: 0; 
        border: .1em solid var(--color-grey);
        border-radius: 2em;
        white-space: nowrap;
        opacity: 0;
        z-index: 10;
        transition: opacity .5s ease-out;
    }

    #themaExpertise:hover::after {
        opacity: 1;
        padding: .5em .7em; 
        background-color: var(--color-main); 
    }

  #themaExpertise.expertise-visual-design{
      background-color:var(--color-pink-dark);
  
  }
  #themaExpertise.expertise-visual-design:hover::after {
    content: "visual design";
}
  #themaExpertise.expertise-interactieontwerp-visual-design{
      background: linear-gradient(
          to bottom left,
         var(--color-pink-dark) 50%,
         var(--color-blue-dark)50% 100%
        );
  }
  #themaExpertise.expertise-interactieontwerp-visual-design:hover::after {
    content: "interactie ontwerp en visual design";
}
  /* #themaExpertise.expertise-interactieontwerp-visual-design:hover{
      animation: rotation 1s linear infinite;
  } */
  
  #themaExpertise.expertise-interactieontwerp{
      
      background-color:var(--color-blue-dark);
  }
  #themaExpertise.expertise-interactieontwerp:hover::after {
    content: "interactie ontwerp";
}
  
  
  #themaExpertise.expertise-onbekend{
      background-color:var(--color-green-dark);
  }
  #themaExpertise.expertise-onbekend:hover::after {
    content: "expertise is onbekend";
}

  /* ///////////////////////// soort die een kleur heeft van de expertise////////// */
  
  #themaSoort{
      grid-row:2/3;
      font-size:1.1em;
      font-weight: 300;
      font-style: italic;
      padding: 0;
      margin: 0;
      margin-top: 1.5em;
      color: grey;
  }
  
  /* zet hier boven alle kleuren van de expertises classes^^^^^^ */
  
  @keyframes rotation{
      0%{
          transform: rotate(0deg);
      }
      100%{
          transform: rotate(360deg);
  
      }
     
  }
  
  /* ///////////////////// toegankelijkheid visible hidden voor buttons meer info//////////// */
  .visually-hidden {
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   height: 1px;
   overflow: hidden;
   position: absolute;
   white-space: nowrap;
   width: 1px;
    }
