/* ----------------------------------- */
/* ----------- NIEUWE CODE ----------- */
/* ----------------------------------- */
section.index {
    width: 100%;
    padding: .5em;
    display: grid;
    grid-template-columns: 1fr;
    gap: .5em;
    position: relative;

    #logo {
        justify-self: center;
    }

    .search {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 1em;
        height: 3em;
        overflow-y: visible;
        transition: height 1s, width 1s;

        &.open {
            height: 70vh;
        }

        div {
            display: flex;
            background-color: lightgray;
            border-radius: 1.5em;
            align-items: center;

            #toggleChat {
                height: 2.5em;
                font-size: 1em;
                padding: .5em;
                margin-left: .25em;
                border-radius: 1.5em;
                width: fit-content;
                background-color: gray;
                border: none;
                position: relative;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 1.5em;
                    height: 1.5em;
                    background-image: url("/img/stars.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    top: -.5em;
                    left: -.5em;
                    overflow: visible;
                }
            }

            form {
                flex: 1;
                height: fit-content;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                input {
                    width: 100%;
                    height: 3em;
                    font-size: 1em;
                    padding: .5em;
                    padding-right: 3em;
                    border: none;
                    background-color: transparent;
                }

                button {
                    position: absolute;
                    background-color: transparent;
                    border: none;
                    right: 1em;
                    display: flex; /* voeg dit toe */
                    align-items: center; /* centreert verticaal */
                    justify-content: center; /* centreert horizontaal */
                    height: 100%; /* zorg ervoor dat de button net zo hoog is als het inputveld */
                
                    svg {
                        align-self: center;
                        height: 2.2em;
                        width: 2.2em;
                    }
                }
            }
        }

        #messages {
            display: flex;
            flex-direction: column;
            gap: 1em;
            list-style: none;
            overflow-y: scroll;

            li {
                max-width: 80%;
                background-color: var(--color-secondary);
                color: var(--color-main);
                padding: .5em 1em;
                border-radius: 1em;
                margin: 0;
            }

            .assistant {
                align-self: flex-start;
            }

            .user {
                align-self: flex-end;
            }
        }
    }

    .custom-summary {
        grid-column: 1/2;
        border: none;
        font-size: 1em;
        width: fit-content;
        max-height: 2em;
        transition: max-height 1s;

        summary {
            color: black;
            padding-left: 0;
            text-align: center;
            font-size: 1em;
            height: 2em;
            display: flex;
            align-items: center;
            gap: .5em;

            &::before {
                content: "";
                display: block;
                width: .25em;
                height: 100%;
                background-color: black;
            }

            &::after {
                content: "";
                display: block;
                width: 2em;
                height: 2em;
                background-image: url("/img/arrow.svg");
                transform: rotate(90deg);
                transition: .5s;
            }
        }

        &[open] {
            width: 100%;
            max-height: 100%;

            summary::after {
                transform: rotate(-90deg);
            }

            form {
                color: var(--color-secondary);
                margin: .5em;

                fieldset {
                    border: none;
                    display: flex;
                    flex-wrap: wrap;
                    gap: .5em;

                    legend {
                        font-weight: bold;
                        font-size: 1.5em;
                    }

                    &:not(:nth-last-of-type(1)) {
                        margin-bottom: 1em;
                    }

                    label {
                        border: 1px solid var(--color-secondary);
                        display: inline-block;
                        padding: .25em .5em;
                        height: 2em;
                        border-radius: 1em;
                        min-width: 2em;
                        text-align: center;

                        &:has(:checked) {
                            background-color: var(--color-secondary);
                            color: var(--color-main);
                        }

                        input {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    > div {
        display: flex;
        flex-direction: column;
        gap: .5em;

        #activeFilters {
            display: flex;
            flex-wrap: wrap;
            gap: .5em;

            label:has(input[type=checkbox]:not(:checked)) {
                display: none;
            }

            label:has(:checked) {
                display: inline-flex;
                gap: .5em;
                border: 2px solid var(--color-secondary);
                padding: .25em .5em;
                border-radius: 1em;
                cursor: pointer;
        
                &::before {
                    content: "x";
                    display: inline;
        
                }

                input {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 600px) {
    section.index {
        grid-template-columns: 30% auto;
        padding: .5em 4em;
    }

    .search {
        align-self: center;
    }

    .custom-summary {
        position: absolute;
        top: 7.875em;
    }

    #resultsAndFilters {
        grid-column: 2/3;
    }
}

@keyframes details {
    0% {
        height: 2em;
    }
    100% {
        height: 100%;
    }
}


/* //////////////////////////// resultaten grid////////////////////////// */
 
.results{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
    grid-auto-rows:30em;
    list-style: none;
    grid-gap: 1em;
    width: 100%;
  }
 
  .card{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border-radius: 1em;
  }
 
  .card div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    gap: 1em;
    background-color: var( --pink-main);
    color: var( --pink-secondary);
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
  
  }
  .card div:nth-of-type(1) div{
    display: flex;
    place-content: center;
    border-radius: 5em;
    background-color: var( --pink-secondary) ;
    color: var( --color-main) ;
    font-weight: bold;
    height: 2em;
    width:2em ;
    padding: 0;
    flex-shrink: 0;
  }
  .card div:nth-of-type(1) a{
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: var(--pink-secondary);

  }

.card div:nth-of-type(2) a{
  display: block;
  width: 85%;
  background-color: var(--pink-secondary);
  color: var(--color-main);
  border-radius: .7em;
  padding: 1em;
  margin-top: auto; 
  margin-bottom: 1.5em;
  align-self: center;
  text-overflow: ellipsis;
}