.home{
    width: 100%;
  }
  
  .home >div:nth-of-type(1){
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  
  }
  .filters{
    width: 30%;
  }
  .filters details{
    background-color: var(--color-darker);
    width: 15em;
    color: var(--color-main);
    margin: 2em;
    padding: 1.4em;
  }
  details.custom-summary summary {
    list-style: none;
    cursor: pointer;
    padding-left: 30px;
    position: relative;
  }
  
  details.custom-summary summary::before {
    content: "";
    background-image: url('arrow-right.svg');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    height: 16px;
    transition: transform 0.2s ease;
  }
  
  details.custom-summary[open] summary::before {
    background-image: url('arrow-down.svg');
  }
  
  .search-box{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width:70% ;
    height: 3.5em;
  }
  .search-box a {
    background-color: var(--color-purple-dark);
    padding: .7em;
    align-self: center;
    color: var( --color-main);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4em;
    border-radius:.5em ;
  }
  .search-box ul {
    display: grid;
    list-style: none;
  
  }

  .search-box ul li{
    background-color: var(--color-dark);
    margin: 2em;
    padding: 1em;
  }
  .home form{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    position: relative;
  
  }
  
  form input{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 1em 1em 1em 2em;
    font-size:1.1em ;
    border-radius:2.5em ;
    border: .1em solid var(--color-darker);
  }
  form button {
    position: absolute;
    background-color: transparent;
    border: none;
    right: 1em;
    display: flex; /* voeg dit toe */
    align-items: center; /* centreert verticaal */
    justify-content: center; /* centreert horizontaal */
    height: 100%; /* zorg ervoor dat de button net zo hoog is als het inputveld */
  }
  
  form button svg{
    align-self: center;
    height: 2.2em;
    width: 2.2em;
  }
  