.saved{
    width: 100vw;
    padding: 50px 15vw;
    min-height: 100vh;

     & .back-button {
        text-align: center;
        color: var(--color-main);
        text-decoration: none;
        background-color: var(--color-darker);
        border: 2px solid transparent;
        border-radius: 30px;
        padding: 10px 20px;
        display: block;
        width: fit-content;
      }
      & .back-button:hover {
        background-color: var(--color-dark);
      }

      h1{
        margin: 1.5em 0;
        font-size: 3em;
        font-weight: 400;
      }

}

