:root {
  /* colors */
  --background: #f7f7f7;
  --color-light: #fff;
  --color-grey: #e9e9e9;

  --color-dark: #565656;
  --color-darker: rgb(0, 0, 0);

  --shadow: rgba(0, 0, 0, 0.1);

  --color-orange-light: #fef11f;
  --color-purple-dark: #bf80ff;
  --color-green-dark: #99de5f;
  --color-pink-dark: #ed2956;
  --color-blue-dark: #00ceff;
  --color-filter-blue: #0076ff;
  --color-filter-lightblue: #e5f0fc;

  /* button outline */

  --button-border: 0.1em solid var(--color-darker);

  /* light-dark colors */
  --color-main: light-dark(var(--color-light), var(--color-darker));
  --color-secondary: light-dark(var(--color-darker), var(--color-light));

  /* light/dark mode logic */
  :has([value="theme"]:checked) {
    color-scheme: dark;
  }

  :has([value="theme"]:not(:checked)) {
    color-scheme: light;
  }

  /* fonts */
  * {
    font-family: "DM Sans", sans-serif;
  }
}
