:root {
    /* colors */
    --background:#F7F7F7;
    --color-light: #fff;
    --color-grey:#E9E9E9;

    --color-dark: #565656;
    --color-darker: rgb(0,0,0);
    
    --shadow:rgba(0, 0, 0, 0.1);

    --color-orange-light: #FEF11F;
    --color-purple-dark: #BF80FF;
    --color-green-dark: #99DE5F;
    --color-pink-dark: #ed2956;
    --color-blue-dark: #00CEFF;
    --color-filter-blue: #0076FF;
    --color-filter-lightblue: #E5F0FC;


    /* light-dark colors */
    --color-main: light-dark(var(--color-light), var(--color-darker));
    --color-secondary: light-dark(var(--color-darker), var(--color-light));

    /* light/dark mode logic */
    :has([value=theme]:checked) {
        color-scheme: dark;
    }

    :has([value=theme]:not(:checked)) {
        color-scheme: light;
    }


    /* fonts */
    * {
        font-family: 'DM Sans', sans-serif;
    }
}
 