<ul id="messages"><li>Hallo! Ik ben KAI (Knowledge AI), hoe kan ik je helpen?</li></ul>
<form id="chat-form">
  <input id="input" autocomplete="off" placeholder="Wat is je vraag?" />
  <button type="submit">Verstuur</button>
</form>
<a href="javascript:history.back()">Terug</a>
