<ul id="messages"></ul>
<form id="chat-form">
  <input id="input" autocomplete="off" placeholder="Wat is je vraag?" />
  <button type="submit">Verstuur</button>
</form>
<a href="javascript:history.back()">Terug</a>
<script src="/js/gpt.js"></script>
