<ul id="messages">
  <li class="assistant">Hallo! Ik ben KAI (Knowledge AI), hoe kan ik je helpen?</li>
  <li class="user">waarom zijn bananen krom?</li>
  <li class="assistant">Bedoel je 'bananen'?</li>
</ul>
<form id="chat-form">
  <input id="input" autocomplete="off" placeholder="Wat wil je vragen..." />
  <button type="submit">
    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33">
      <g id="Icon_feather-arrow-right-circle" data-name="Icon feather-arrow-right-circle" transform="translate(1.5 1.5)">
        <path id="Path_1" data-name="Path 1" d="M33,18A15,15,0,1,1,18,3,15,15,0,0,1,33,18Z" transform="translate(-3 -3)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
        <path id="Path_2" data-name="Path 2" d="M18,24l6-6-6-6" transform="translate(-3 -3)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
        <path id="Path_3" data-name="Path 3" d="M12,18H24" transform="translate(-3 -3)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
      </g>
    </svg>    
  </button>
</form>
<a href="javascript:history.back()">Terug</a>
