<div class="search-box">
  <h1>CMD Base</h1>
  <form method="get" action="/">
    <input type="text" name="q" placeholder="Zoeken..." value="<%= query %>" />
    <button type="submit">Zoeken</button>
  </form>
</div>

<% if (results.length > 0) { %>
<ul>
  <% results.forEach(function(page) { %>
  <li><a href="<%= page.slug %>"><%= page.title %></a></li>
  <% }) %>
</ul>
<% } else if (query) { %>
<p>Geen resultaten gevonden voor "<%= query %>"</p>
<% } %>
